.confTitleBox {
  border-top: 3px solid #690;
  border-bottom: 1px solid #690;
  background: #F2F3F4;

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #DDDDDD),
      color-stop(0.5, #EEEEEE),
      color-stop(0.75, #F2F3F4)
  );
  background-image: -moz-linear-gradient(
      center bottom,
      #DDDDDD 0%,
      #EEEEEE 50%,
      #F2F3F4 75%
  );

}

.confSubTitleBox {
    background: #e0e4cc;
    border-bottom: 1px solid #837b47;
    border-bottom: 1px solid #690;
    border-top: 1px solid #837b47;
    border-top: 1px solid #690;
}

.confSubTitleContent {
    width: 950px;
    margin: 0 auto;
    color: #666;
}

.conferencetitlelink {
    color: #690;
    padding: 0;
    font-weight: bold;
}

.confLogoBox {
  float: right;
}

.date {
  text-shadow: 0 1px 0 #F6F9F0;
}

  /* ------Menu------ */
  /* here is layout and style for creating default menu for conferences */


    /* Styles for all menu Items */

#outer {
    background: #f6f9f0;
    border: 1px solid #690;
    box-shadow: 0 1px 2px #ccc;
}

#outer li a:hover {
/*    background: #777;*/
    background: #690;
    color: white;
}

.conf_leftMenu {
  float:left;
  width:200px;
  background:transparent none repeat scroll 0 0;
} 

  
.menuConfTitle {
  color:#0200C6;
}

.menuConfTitle a {
    color: #4e4c46;
}

.menuConfSelected a {
    color: #4e4c46;
}
    
li ul.inner li a { 
    background: transparent url(../../images/conf/left_menu_bullet.png) scroll no-repeat 15px center;
} /* Sub Menu Styles */


    /* Styles for the searchbox */

.confSearchBox {
    background: transparent url("../../images/conf/sprites_brown.png") no-repeat 0 0;
}

.confSearchBox .searchButton {
    color: white;
}

.simpleTextAnnouncement {

  background: #F2F3F4;
    border-top: none;
    border-bottom: 1px solid #BBB;
    color: #0f283d;
    color: #666;
    
    box-shadow: 0 0 1px #DDDDDD;
}
